.some-page-wrapper {
    margin: 15px;
    /* background-color: red; */
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 ;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
  }
  
  /* .orange-column {
    background-color: orange;
    height: 100px;
  } */
  
  .blue-column {
    /* background-color: blue; */
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* .green-column {
    background-color: green;
    height: 100px;
  } */
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3
    
  }

  h1 {font-size: 45px;}

  body {
    background-color:white;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      filter: blur(165px);
    }